.card-group-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3em;
}

.card-group {
    /* width: 50%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 3px;
}

.card-update {
    background-color: #eee;
    border-radius: 10px;
    text-align: center;
    padding: .8em 0;
    margin-bottom: .5em;
    font-weight: 600;
}

@media (min-width: 960px) {
    .card-group-container {
        padding-top: 6em;
        width: 40%;
    }
}

/* @media (max-width: 425px) {
    .card-group {
        grid-template-columns: 1fr;
    }
} */